// Color
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$light-blue: #464b5e;
$blue: #3c4251;
$purple: #8357c5;

// Spacing
$s-size: 0.6rem;
$m-size: 1rem;
$l-size: 2rem;
$xl-size: 3rem;

// Viewport
$desktop-breakpoint: 40rem;